.main
  .main-container
    .main-header
      会員情報入力
    .main-forms
      .main-content
        .main-form
          .main-form__label
            ニックネーム
          %span.required 必須
          .main-form__input
            %input.nickname{:name => "nickname", :placeholder => "例）メルカリ太郎", :type => "nickname", :value => ""}/

        .main-form  
          .main-form__label
            メールアドレス
          %span.required 必須
          .main-form__input
            %input{:name => "email", :placeholder => "PC・携帯どちらでも可", :type => "email", :value => ""}/
        
        .main-form  
          .main-form__label
            パスワード
          %span.required 必須
          .main-form__input
            %input{:name => "password", :placeholder => "６文字以上", :type => "password", :value => ""}/
        
        .main-form  
          .main-form__label
            パスワード（確認）
          %span.required 必須
          .main-form__input
            %input{:name => "password_confirmation", :placeholder => "６文字以上", :type => "password", :value => ""}/

        .main-btn
          .main-btn__robo
            = link_to "robo"
          .main-btn__next
            = link_to "次へ進む"

