.main
  .main-container
    .main-header
      電話番号の確認
    .main-forms
      .main-content
        .main-form-number
          .main-form__number
            携帯電話の番号
          .main-form__number-input
            %input.number{:name => "nickname", :placeholder => "携帯電話の番号を入力", :type => "nickname", :value => ""}/
            %p.number
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .main-btn
          .main-btn__sns
            = link_to "SNSを送信する"
          %p.number
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .main-confirmation
          = link_to "電話番号の確認が必要な理由>"


