.main {
  .main-container {
    margin: 0 auto;
    width: 700px;
    background-color: #fff;
    .main-header {
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
  }
}
.main-forms {
  padding: 24px 16px 40px;
  border-top: 1px solid #f5f5f5;
  .main-content {
    max-width: 343px;
    margin: 0 auto;
  }
}
.main-form {
  margin: 40px 0 0 0;
  &__label {
    font-weight: 600;
    display: inline-block;
    touch-action: manipulation;
    float: left;
  }
  .required {
    background-color: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .any {
    background-color: grey;
  }
  &__input {
    width: 100%;
    input {
      padding: 10px 16px 8px;
      width: calc(100% - 32px);
      margin: 8px 0 0;
      height: 32px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
}
.main-btn {
  margin: 40px 0 0;
  &__next {
    background: #ea352d;
    border: 1px #ea352d;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    &--red {
      color: #fff;
      text-decoration-line: none;
    }
  }
}

